@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer components {
  .heading-1 {
    @apply flex flex-col justify-center items-center font-medium border-b-2 mb-5 mx-4 relative;
  }
  .heading-2 {
    @apply text-2xl pb-6 pt-8;
  }
  .heading-3 {
    @apply w-16 h-0.5 bg-red-600  absolute bottom-0 -mb-0.5;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
